In [1]:
import glob
import os
import pandas as pd
import numpy as np

files_path = '/Users/annadugoul/Documents/SCData/SC5118'
read_files = glob.glob(os.path.join(files_path, "*.dat"))

np_array_values = []
for files in read_files:
    DailyP5118_data = pd.read_fwf(files, header=0)
    np_array_values.append(DailyP5118_data)
    DailyP5118_data.columns = ['YYYY', 'MM', 'DD', 'Pinmm']
    print(files)

/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56198.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56167.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56173.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56371.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56172.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56199.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57318.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57324.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56038.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57326.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56158.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57508.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56164.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56399.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56373.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56171.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56575.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56565.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56571.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56376.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56389.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57308.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57320.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56189.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56374.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56188.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57309.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56272.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57420.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57408.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56474.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56475.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56267.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56273.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56298.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56675.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56462.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56674.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57608.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56670.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57208.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56499.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56473.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56498.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56665.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56671.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56288.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56263.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57237.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56459.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56666.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56276.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56289.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56290.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56284.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57603.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56247.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57415.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57401.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56079.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56496.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56441.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57206.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57414.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56285.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56291.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56287.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57600.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56278.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57402.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57416.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57204.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56443.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56480.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56494.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57417.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56251.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56279.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56286.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56296.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57605.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57407.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57413.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56490.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56485.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56491.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57604.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56297.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56295.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56281.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56097.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57216.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56487.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56493.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56478.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56479.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56492.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57217.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57405.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57411.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56257.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56280.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57304.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56185.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56146.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56152.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56387.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56393.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56378.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56386.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56147.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57503.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56190.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56184.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56580.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56569.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57307.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57313.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56186.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56390.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56384.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56385.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56391.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56144.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56178.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56187.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56193.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57306.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56593.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56578.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56197.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56183.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56168.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56395.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56381.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56357.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56380.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56394.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56182.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56196.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57317.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57303.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56592.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56584.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57329.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57315.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56180.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56194.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57507.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56382.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56396.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56383.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56195.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_56181.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57314.dat
/Users/annadugoul/Documents/SCData/SC5118/DailyP5118_57328.dat

In [2]:
np_array_values

[       YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    3.7
 24833  2018  12  28    7.0
 24834  2018  12  29 -999.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.4

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.1
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    3.6
 24833  2018  12  28   12.4
 24834  2018  12  29 -999.0
 24835  2018  12  30    1.1
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    2.4
 24833  2018  12  28    3.9
 24834  2018  12  29    7.6
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    4.4
 24833  2018  12  28    1.1
 24834  2018  12  29 -999.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.1
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    1.9
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    1.1
 24833  2018  12  28    7.3
 24834  2018  12  29    3.6
 24835  2018  12  30    0.2
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.1
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    2.2
 24833  2018  12  28   12.6
 24834  2018  12  29    3.6
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.2
 24833  2018  12  28    1.4
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27 -999.0
 24833  2018  12  28 -999.0
 24834  2018  12  29 -999.0
 24835  2018  12  30 -999.0
 24836  2018  12  31 -999.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    1.2
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1    0.0
 1      1951   1   2    0.0
 2      1951   1   3    0.0
 3      1951   1   4    0.0
 4      1951   1   5    0.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    1.3
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1    0.0
 1      1951   1   2    0.0
 2      1951   1   3    0.0
 3      1951   1   4    0.0
 4      1951   1   5    0.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    1.0
 24833  2018  12  28    5.1
 24834  2018  12  29    5.2
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    3.9
 24833  2018  12  28    8.4
 24834  2018  12  29 -999.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.6

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    2.6
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    1.8
 24833  2018  12  28    5.9
 24834  2018  12  29 -999.0
 24835  2018  12  30    0.0
 24836  2018  12  31    1.7

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    1.5
 24835  2018  12  30    5.2
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    3.9
 24833  2018  12  28    9.0
 24834  2018  12  29 -999.0
 24835  2018  12  30    0.0
 24836  2018  12  31    1.4

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    3.2
 24833  2018  12  28   11.8
 24834  2018  12  29    7.0
 24835  2018  12  30    0.3
 24836  2018  12  31    0.8

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    1.5
 24833  2018  12  28    4.1
 24834  2018  12  29 -999.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.1

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    2.4
 24833  2018  12  28    1.0
 24834  2018  12  29    3.6
 24835  2018  12  30    0.7
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    1.4
 24833  2018  12  28   11.5
 24834  2018  12  29    8.3
 24835  2018  12  30    0.5
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27 -999.0
 24833  2018  12  28 -999.0
 24834  2018  12  29 -999.0
 24835  2018  12  30 -999.0
 24836  2018  12  31 -999.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    1.2
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.7
 24834  2018  12  29 -999.0
 24835  2018  12  30 -999.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.2
 24833  2018  12  28    6.7
 24834  2018  12  29    5.3
 24835  2018  12  30    0.1
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27 -999.0
 24833  2018  12  28 -999.0
 24834  2018  12  29 -999.0
 24835  2018  12  30 -999.0
 24836  2018  12  31 -999.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.2
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    1.2
 24833  2018  12  28    2.7
 24834  2018  12  29    4.2
 24835  2018  12  30    1.3
 24836  2018  12  31    0.8

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    5.2
 24833  2018  12  28    1.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.1

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    4.3
 24833  2018  12  28    8.5
 24834  2018  12  29    3.8
 24835  2018  12  30    0.0
 24836  2018  12  31    3.1

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27 -999.0
 24833  2018  12  28 -999.0
 24834  2018  12  29 -999.0
 24835  2018  12  30 -999.0
 24836  2018  12  31 -999.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    4.7
 24833  2018  12  28    5.5
 24834  2018  12  29    3.1
 24835  2018  12  30    0.3
 24836  2018  12  31    1.1

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    2.2
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    2.7
 24833  2018  12  28    4.4
 24834  2018  12  29    1.8
 24835  2018  12  30    0.0
 24836  2018  12  31    0.2

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.4
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27 -999.0
 24833  2018  12  28 -999.0
 24834  2018  12  29 -999.0
 24835  2018  12  30 -999.0
 24836  2018  12  31 -999.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.0
 24833  2018  12  28    0.0
 24834  2018  12  29    0.0
 24835  2018  12  30    0.0
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    2.1
 24833  2018  12  28    2.7
 24834  2018  12  29    0.9
 24835  2018  12  30    0.0
 24836  2018  12  31    0.3

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    0.1
 24833  2018  12  28    5.5
 24834  2018  12  29    2.2
 24835  2018  12  30    0.2
 24836  2018  12  31    0.0

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    1.3
 24833  2018  12  28    6.3
 24834  2018  12  29    1.3
 24835  2018  12  30    0.0
 24836  2018  12  31    0.1

 [24837 rows x 4 columns],
        YYYY  MM  DD  Pinmm
 0      1951   1   1 -999.0
 1      1951   1   2 -999.0
 2      1951   1   3 -999.0
 3      1951   1   4 -999.0
 4      1951   1   5 -999.0
 ...     ...  ..  ..    ...
 24832  2018  12  27    4.8
 24833  2018  12  28    2.5
 24834  2018  12  29    2.1
 24835  2018  12  30    0.0
 24836  2018  12  31    0.5


In [3]:
merge_values = np.vstack(np_array_values)
DailyP5118_data = pd.DataFrame(merge_values,
                columns=('YYYY', 'MM', 'DD', 'Pinmm'))
DailyP5118_data

           YYYY    MM    DD  Pinmm
0        1951.0   1.0   1.0 -999.0
1        1951.0   1.0   2.0 -999.0
2        1951.0   1.0   3.0 -999.0
3        1951.0   1.0   4.0 -999.0
4        1951.0   1.0   5.0 -999.0
...         ...   ...   ...    ...
3874567  2018.0  12.0  27.0    0.2
3874568  2018.0  12.0  28.0    0.3
3874569  2018.0  12.0  29.0    1.9
3874570  2018.0  12.0  30.0    0.0
3874571  2018.0  12.0  31.0    0.0

[3874572 rows x 4 columns]

In [4]:
import pandas as pd
import os

path = r'/Users/annadugoul/Documents/SCData/SC5118'
files = os.listdir(path)

DailyP5118_data = pd.DataFrame()

for file in files:
    df_station = pd.read_fwf(path + '//' + file)
    df_station['Station'] = file
    DailyP5118_data = DailyP5118_data.append(df_station)
DailyP5118_data

       YYYY  MM  DD  Pinmm               Station
0      1951   1   1 -999.0  DailyP5118_56198.dat
1      1951   1   2 -999.0  DailyP5118_56198.dat
2      1951   1   3 -999.0  DailyP5118_56198.dat
3      1951   1   4 -999.0  DailyP5118_56198.dat
4      1951   1   5 -999.0  DailyP5118_56198.dat
...     ...  ..  ..    ...                   ...
24832  2018  12  27    0.2  DailyP5118_57328.dat
24833  2018  12  28    0.3  DailyP5118_57328.dat
24834  2018  12  29    1.9  DailyP5118_57328.dat
24835  2018  12  30    0.0  DailyP5118_57328.dat
24836  2018  12  31    0.0  DailyP5118_57328.dat

[3874572 rows x 5 columns]

In [5]:
def find_season(month, hemisphere):
    if hemisphere == 'Southern':
        season_month_south = {
            12:'Summer', 1:'Summer', 2:'Summer',
            3:'Autumn', 4:'Autumn', 5:'Autumn',
            6:'Winter', 7:'Winter', 8:'Winter',
            9:'Spring', 10:'Spring', 11:'Spring'}
        return season_month_south.get(month)
        
    elif hemisphere == 'Northern':
        season_month_north = {
            12:'Winter', 1:'Winter', 2:'Winter',
            3:'Spring', 4:'Spring', 5:'Spring',
            6:'Summer', 7:'Summer', 8:'Summer',
            9:'Autumn', 10:'Autumn', 11:'Autumn'}
        return season_month_north.get(month)
    else:
        print('Invalid selection. Please select a hemisphere and try again')
        
season_list = []
hemisphere = 'Northern'
for month in DailyP5118_data['MM']:
    season = find_season(month, hemisphere)
    season_list.append(season)
    
DailyP5118_data['Season'] = season_list
DailyP5118_data

       YYYY  MM  DD  Pinmm               Station  Season
0      1951   1   1 -999.0  DailyP5118_56198.dat  Winter
1      1951   1   2 -999.0  DailyP5118_56198.dat  Winter
2      1951   1   3 -999.0  DailyP5118_56198.dat  Winter
3      1951   1   4 -999.0  DailyP5118_56198.dat  Winter
4      1951   1   5 -999.0  DailyP5118_56198.dat  Winter
...     ...  ..  ..    ...                   ...     ...
24832  2018  12  27    0.2  DailyP5118_57328.dat  Winter
24833  2018  12  28    0.3  DailyP5118_57328.dat  Winter
24834  2018  12  29    1.9  DailyP5118_57328.dat  Winter
24835  2018  12  30    0.0  DailyP5118_57328.dat  Winter
24836  2018  12  31    0.0  DailyP5118_57328.dat  Winter

[3874572 rows x 6 columns]

In [6]:
DailyP5118_data['Date'] = DailyP5118_data['DD'].map(str) + '/' + DailyP5118_data['MM'].map(str) + '/' + DailyP5118_data['YYYY'].map(str)
DailyP5118_data = pd.DataFrame(DailyP5118_data)
DailyP5118_data

DailyP5118_data['Month_Year'] = DailyP5118_data['MM'].map(str) + '/' + DailyP5118_data['YYYY'].map(str)
DailyP5118_data = pd.DataFrame(DailyP5118_data)
DailyP5118_data

cols_to_check = ['Station']
DailyP5118_data[cols_to_check] = DailyP5118_data[cols_to_check].replace({'.dat':''}, regex=True)
DailyP5118_data[cols_to_check] = DailyP5118_data[cols_to_check].replace({'DailyP5118_':''}, regex=True)
DailyP5118_data = pd.DataFrame(DailyP5118_data)
DailyP5118_data

       YYYY  MM  DD  Pinmm Station  Season        Date Month_Year
0      1951   1   1 -999.0   56198  Winter    1/1/1951     1/1951
1      1951   1   2 -999.0   56198  Winter    2/1/1951     1/1951
2      1951   1   3 -999.0   56198  Winter    3/1/1951     1/1951
3      1951   1   4 -999.0   56198  Winter    4/1/1951     1/1951
4      1951   1   5 -999.0   56198  Winter    5/1/1951     1/1951
...     ...  ..  ..    ...     ...     ...         ...        ...
24832  2018  12  27    0.2   57328  Winter  27/12/2018    12/2018
24833  2018  12  28    0.3   57328  Winter  28/12/2018    12/2018
24834  2018  12  29    1.9   57328  Winter  29/12/2018    12/2018
24835  2018  12  30    0.0   57328  Winter  30/12/2018    12/2018
24836  2018  12  31    0.0   57328  Winter  31/12/2018    12/2018

[3874572 rows x 8 columns]

In [7]:
DailyP5118_data.replace(-999, np.nan, inplace=True)
DailyP5118_data.replace(-99.9, np.nan, inplace=True)
DailyP5118_data.replace(999, np.nan, inplace=True)

In [8]:
the_data = DailyP5118_data.drop(DailyP5118_data.index[0:17897])
the_data

       YYYY  MM  DD  Pinmm Station  Season        Date Month_Year
17897  2000   1   1    0.0   56198  Winter    1/1/2000     1/2000
17898  2000   1   2    0.0   56198  Winter    2/1/2000     1/2000
17899  2000   1   3    0.0   56198  Winter    3/1/2000     1/2000
17900  2000   1   4    0.0   56198  Winter    4/1/2000     1/2000
17901  2000   1   5    0.0   56198  Winter    5/1/2000     1/2000
...     ...  ..  ..    ...     ...     ...         ...        ...
24832  2018  12  27    0.2   57328  Winter  27/12/2018    12/2018
24833  2018  12  28    0.3   57328  Winter  28/12/2018    12/2018
24834  2018  12  29    1.9   57328  Winter  29/12/2018    12/2018
24835  2018  12  30    0.0   57328  Winter  30/12/2018    12/2018
24836  2018  12  31    0.0   57328  Winter  31/12/2018    12/2018

[1082640 rows x 8 columns]

In [10]:
july = the_data['MM'] == 7
mean_for_july = the_data.loc[july, 'Pinmm'].mean()
mean_for_july

6.267255218443708

In [9]:
july = the_data['MM'] == 6
mean_for_july = the_data.loc[july, 'Pinmm'].mean()
mean_for_july

5.01833015923084

In [10]:
july = the_data['MM'] == 8
mean_for_july = the_data.loc[july, 'Pinmm'].mean()
mean_for_july

5.5140168162533865

In [15]:
Higher_than_july_mean_09072013 = the_data.loc[((the_data['Date'] == '9/7/2013') & (the_data['Pinmm'] >= 6.26))]
Higher_than_july_mean_09072013

       YYYY  MM  DD  Pinmm Station  Season      Date Month_Year
22835  2013   7   9   43.1   56198  Summer  9/7/2013     7/2013
22835  2013   7   9    8.8   56167  Summer  9/7/2013     7/2013
22835  2013   7   9    7.0   56173  Summer  9/7/2013     7/2013
22835  2013   7   9   12.6   56371  Summer  9/7/2013     7/2013
22835  2013   7   9    6.8   56172  Summer  9/7/2013     7/2013
...     ...  ..  ..    ...     ...     ...       ...        ...
22835  2013   7   9   76.0   56194  Summer  9/7/2013     7/2013
22835  2013   7   9   86.2   56382  Summer  9/7/2013     7/2013
22835  2013   7   9  105.9   56383  Summer  9/7/2013     7/2013
22835  2013   7   9   14.7   56195  Summer  9/7/2013     7/2013
22835  2013   7   9  145.6   56181  Summer  9/7/2013     7/2013

[71 rows x 8 columns]

In [17]:
Higher_than_july_mean_09072013.nlargest(71, 'Pinmm')

       YYYY  MM  DD  Pinmm Station  Season      Date Month_Year
22835  2013   7   9  423.8   56188  Summer  9/7/2013     7/2013
22835  2013   7   9  189.3   56285  Summer  9/7/2013     7/2013
22835  2013   7   9  145.6   56181  Summer  9/7/2013     7/2013
22835  2013   7   9  123.8   56373  Summer  9/7/2013     7/2013
22835  2013   7   9  123.4   56280  Summer  9/7/2013     7/2013
...     ...  ..  ..    ...     ...     ...       ...        ...
22835  2013   7   9    8.4   56147  Summer  9/7/2013     7/2013
22835  2013   7   9    7.2   56171  Summer  9/7/2013     7/2013
22835  2013   7   9    7.1   56459  Summer  9/7/2013     7/2013
22835  2013   7   9    7.0   56173  Summer  9/7/2013     7/2013
22835  2013   7   9    6.8   56172  Summer  9/7/2013     7/2013

[71 rows x 8 columns]

In [13]:
Higher_than_july_mean_21072008 = the_data.loc[((the_data['Date'] == '21/7/2008') & (the_data['Pinmm'] >= 6.26))]
Higher_than_july_mean_21072008

       YYYY  MM  DD  Pinmm Station  Season       Date Month_Year
21021  2008   7  21   90.8   56198  Summer  21/7/2008     7/2008
21021  2008   7  21  136.8   56199  Summer  21/7/2008     7/2008
21021  2008   7  21   72.5   57318  Summer  21/7/2008     7/2008
21021  2008   7  21   19.8   57324  Summer  21/7/2008     7/2008
21021  2008   7  21   10.1   56158  Summer  21/7/2008     7/2008
...     ...  ..  ..    ...     ...     ...        ...        ...
21021  2008   7  21   78.1   56382  Summer  21/7/2008     7/2008
21021  2008   7  21   10.2   56396  Summer  21/7/2008     7/2008
21021  2008   7  21   26.4   56383  Summer  21/7/2008     7/2008
21021  2008   7  21  129.9   56195  Summer  21/7/2008     7/2008
21021  2008   7  21  101.2   57314  Summer  21/7/2008     7/2008

[81 rows x 8 columns]

In [14]:
Higher_than_july_mean_21072008.nlargest(30, 'Pinmm')

       YYYY  MM  DD  Pinmm Station  Season       Date Month_Year
21021  2008   7  21  159.6   57309  Summer  21/7/2008     7/2008
21021  2008   7  21  154.8   57304  Summer  21/7/2008     7/2008
21021  2008   7  21  144.2   56196  Summer  21/7/2008     7/2008
21021  2008   7  21  136.8   56199  Summer  21/7/2008     7/2008
21021  2008   7  21  134.6   57402  Summer  21/7/2008     7/2008
21021  2008   7  21  130.9   57315  Summer  21/7/2008     7/2008
21021  2008   7  21  129.9   56195  Summer  21/7/2008     7/2008
21021  2008   7  21  124.8   57208  Summer  21/7/2008     7/2008
21021  2008   7  21  118.8   57307  Summer  21/7/2008     7/2008
21021  2008   7  21  114.1   57308  Summer  21/7/2008     7/2008
21021  2008   7  21  107.3   56286  Summer  21/7/2008     7/2008
21021  2008   7  21  106.2   57414  Summer  21/7/2008     7/2008
21021  2008   7  21  105.7   57411  Summer  21/7/2008     7/2008
21021  2008   7  21  105.0   57206  Summer  21/7/2008     7/2008
21021  2008   7  21  104.7   57415  Summer  21/7/2008     7/2008
21021  2008   7  21  104.4   56296  Summer  21/7/2008     7/2008
21021  2008   7  21  101.2   57314  Summer  21/7/2008     7/2008
21021  2008   7  21  100.0   56190  Summer  21/7/2008     7/2008
21021  2008   7  21   94.5   57306  Summer  21/7/2008     7/2008
21021  2008   7  21   93.2   57317  Summer  21/7/2008     7/2008
21021  2008   7  21   91.9   57417  Summer  21/7/2008     7/2008
21021  2008   7  21   90.8   56198  Summer  21/7/2008     7/2008
21021  2008   7  21   81.7   56385  Summer  21/7/2008     7/2008
21021  2008   7  21   79.9   56295  Summer  21/7/2008     7/2008
21021  2008   7  21   79.2   57416  Summer  21/7/2008     7/2008
21021  2008   7  21   78.1   56382  Summer  21/7/2008     7/2008
21021  2008   7  21   76.3   57401  Summer  21/7/2008     7/2008
21021  2008   7  21   72.5   57318  Summer  21/7/2008     7/2008
21021  2008   7  21   68.3   57405  Summer  21/7/2008     7/2008
21021  2008   7  21   65.7   57303  Summer  21/7/2008     7/2008

In [29]:
Day_19072008 = the_data['Date'] == '19/7/2008'
mean_for_Day_19072008 = the_data.loc[Day_19072008, 'Pinmm'].mean()
mean_for_Day_19072008

1.2541935483870967

In [15]:
Day_20072008 = the_data['Date'] == '20/7/2008'
mean_for_Day_20072008 = the_data.loc[Day_20072008, 'Pinmm'].mean()
mean_for_Day_20072008

7.036129032258063

In [16]:
Day_21072008 = the_data['Date'] == '21/7/2008'
mean_for_Day_21072008 = the_data.loc[Day_21072008, 'Pinmm'].mean()
mean_for_Day_21072008

29.59935483870968

In [17]:
Day_18072013 = the_data['Date'] == '18/7/2013'
mean_for_Day_18072013 = the_data.loc[Day_18072013, 'Pinmm'].mean()
mean_for_Day_18072013

28.764102564102558

In [18]:
summer = the_data['Season'] == 'Summer'
mean_for_summer = the_data.loc[summer, 'Pinmm'].mean()
mean_for_summer

5.606181236909085

In [19]:
july_2008 = the_data['Month_Year'] == '7/2008'
mean_for_july_2008 = the_data.loc[july_2008, 'Pinmm'].mean()
mean_for_july_2008

5.55535900104058

In [20]:
the_data.loc[the_data.Date == '21/7/2008']

       YYYY  MM  DD  Pinmm Station  Season       Date Month_Year
21021  2008   7  21   90.8   56198  Summer  21/7/2008     7/2008
21021  2008   7  21    4.6   56167  Summer  21/7/2008     7/2008
21021  2008   7  21    0.4   56173  Summer  21/7/2008     7/2008
21021  2008   7  21    1.6   56371  Summer  21/7/2008     7/2008
21021  2008   7  21    3.3   56172  Summer  21/7/2008     7/2008
...     ...  ..  ..    ...     ...     ...        ...        ...
21021  2008   7  21   26.4   56383  Summer  21/7/2008     7/2008
21021  2008   7  21  129.9   56195  Summer  21/7/2008     7/2008
21021  2008   7  21    0.6   56181  Summer  21/7/2008     7/2008
21021  2008   7  21  101.2   57314  Summer  21/7/2008     7/2008
21021  2008   7  21    4.6   57328  Summer  21/7/2008     7/2008

[156 rows x 8 columns]

In [21]:
count_nan = the_data['Pinmm'].isnull().sum()
print ('Count of NaN: ' + str(count_nan))

Count of NaN: 5423

In [22]:
Day_22072008 = the_data['Date'] == '22/7/2008'
mean_for_Day_22072008 = the_data.loc[Day_22072008, 'Pinmm'].mean()
mean_for_Day_22072008

7.76838709677419

In [23]:
Day_23072008 = the_data['Date'] == '23/7/2008'
mean_for_Day_23072008 = the_data.loc[Day_23072008, 'Pinmm'].mean()
mean_for_Day_23072008

0.09290322580645159

In [24]:
Day_24072008 = the_data['Date'] == '24/7/2008'
mean_for_Day_24072008 = the_data.loc[Day_24072008, 'Pinmm'].mean()
mean_for_Day_24072008

1.4193548387096775

In [25]:
Day_17072013 = the_data['Date'] == '17/7/2013'
mean_for_Day_17072013 = the_data.loc[Day_17072013, 'Pinmm'].mean()
mean_for_Day_17072013

7.803846153846152

In [26]:
Day_19072013 = the_data['Date'] == '19/7/2013'
mean_for_Day_19072013 = the_data.loc[Day_19072013, 'Pinmm'].mean()
mean_for_Day_19072013

13.480769230769234

In [27]:
Day_20072013 = the_data['Date'] == '20/7/2013'
mean_for_Day_20072013 = the_data.loc[Day_20072013, 'Pinmm'].mean()
mean_for_Day_20072013

6.764102564102568

In [28]:
Day_21072013 = the_data['Date'] == '21/7/2013'
mean_for_Day_21072013 = the_data.loc[Day_21072013, 'Pinmm'].mean()
mean_for_Day_21072013

4.243589743589744

In [30]:
Day_22072013 = the_data['Date'] == '22/7/2013'
mean_for_Day_22072013 = the_data.loc[Day_22072013, 'Pinmm'].mean()
mean_for_Day_22072013

13.609615384615385

In [33]:
Day_17072008 = the_data['Date'] == '17/7/2008'
mean_for_Day_17072008 = the_data.loc[Day_17072008, 'Pinmm'].mean()
mean_for_Day_17072008

3.447741935483871

In [31]:
Day_18072008 = the_data['Date'] == '18/7/2008'
mean_for_Day_18072008 = the_data.loc[Day_18072008, 'Pinmm'].mean()
mean_for_Day_18072008

1.4677419354838708

In [32]:
Day_16072013 = the_data['Date'] == '16/7/2013'
mean_for_Day_16072013 = the_data.loc[Day_16072013, 'Pinmm'].mean()
mean_for_Day_16072013

8.096153846153847

In [52]:
july_2018 = the_data['Month_Year'] == '7/2018'
mean_for_july_2018 = the_data.loc[july_2018, 'Pinmm'].mean()
mean_for_july_2018

9.583429871741814

In [45]:
july_2018 = the_data['Month_Year'] == '7/2001'
mean_for_july_2018 = the_data.loc[july_2018, 'Pinmm'].mean()
mean_for_july_2018

4.46384583158777

In [57]:
the_data.nlargest(40, 'Pinmm')

       YYYY  MM  DD  Pinmm Station  Season       Date Month_Year
22835  2013   7   9  423.8   56188  Summer   9/7/2013     7/2013
24663  2018   7  11  321.9   56291  Summer  11/7/2018     7/2018
20643  2007   7   9  298.7   57507  Summer   9/7/2007     7/2007
21780  2010   8  19  292.5   56186  Summer  19/8/2010     8/2010
21755  2010   7  25  284.5   56297  Summer  25/7/2010     7/2010
18524  2001   9  19  281.2   56198  Autumn  19/9/2001     9/2001
22836  2013   7  10  279.2   56285  Summer  10/7/2013     7/2013
18786  2002   6   8  278.0   57402  Summer   8/6/2002     6/2002
21780  2010   8  19  276.4   56285  Summer  19/8/2010     8/2010
21753  2010   7  23  273.4   57304  Summer  23/7/2010     7/2010
19605  2004   9   4  272.9   57413  Autumn   4/9/2004     9/2004
23266  2014   9  13  269.9   57415  Autumn  13/9/2014     9/2014
23266  2014   9  13  268.1   57416  Autumn  13/9/2014     9/2014
24292  2017   7   5  266.7   56196  Summer   5/7/2017     7/2017
23231  2014   8   9  261.8   57402  Summer   9/8/2014     8/2014
20657  2007   7  23  261.7   56665  Summer  23/7/2007     7/2007
18524  2001   9  19  259.5   56196  Autumn  19/9/2001     9/2001
19606  2004   9   5  257.0   57326  Autumn   5/9/2004     9/2004
21747  2010   7  17  255.8   57237  Summer  17/7/2010     7/2010
24663  2018   7  11  253.4   56189  Summer  11/7/2018     7/2018
22174  2011   9  17  250.4   57216  Autumn  17/9/2011     9/2011
24293  2017   7   6  250.3   57402  Summer   6/7/2017     7/2017
19233  2003   8  29  249.2   56194  Summer  29/8/2003     8/2003
23554  2015   6  28  248.3   57208  Summer  28/6/2015     6/2015
22524  2012   9   1  246.1   57315  Autumn   1/9/2012     9/2012
20637  2007   7   3  245.5   57320  Summer   3/7/2007     7/2007
21745  2010   7  15  243.6   57208  Summer  15/7/2010     7/2010
20603  2007   5  30  242.9   57402  Spring  30/5/2007     5/2007
22124  2011   7  29  237.9   57217  Summer  29/7/2011     7/2011
22533  2012   9  10  236.8   57401  Autumn  10/9/2012     9/2012
20651  2007   7  17  235.3   57417  Summer  17/7/2007     7/2007
19213  2003   8   9  234.3   56190  Summer   9/8/2003     8/2003
22844  2013   7  18  229.9   57217  Summer  18/7/2013     7/2013
23200  2014   7   9  225.2   56288  Summer   9/7/2014     7/2014
20269  2006   6  30  225.2   57237  Summer  30/6/2006     6/2006
18470  2001   7  27  223.1   56197  Summer  27/7/2001     7/2001
18470  2001   7  27  222.8   56381  Summer  27/7/2001     7/2001
18493  2001   8  19  222.5   56199  Summer  19/8/2001     8/2001
21753  2010   7  23  220.3   57208  Summer  23/7/2010     7/2010
20639  2007   7   5  219.8   57216  Summer   5/7/2007     7/2007

In [15]:
Around_56188 = the_data.loc[((the_data['Month_Year'] == '7/2013') & (the_data['Station'] == '56391'))]
Around_56188

       YYYY  MM  DD  Pinmm Station  Season       Date Month_Year
22827  2013   7   1    0.0   56391  Summer   1/7/2013     7/2013
22828  2013   7   2    0.0   56391  Summer   2/7/2013     7/2013
22829  2013   7   3    0.0   56391  Summer   3/7/2013     7/2013
22830  2013   7   4    4.9   56391  Summer   4/7/2013     7/2013
22831  2013   7   5    0.7   56391  Summer   5/7/2013     7/2013
22832  2013   7   6    0.0   56391  Summer   6/7/2013     7/2013
22833  2013   7   7    0.0   56391  Summer   7/7/2013     7/2013
22834  2013   7   8    3.7   56391  Summer   8/7/2013     7/2013
22835  2013   7   9   59.0   56391  Summer   9/7/2013     7/2013
22836  2013   7  10   13.7   56391  Summer  10/7/2013     7/2013
22837  2013   7  11    4.5   56391  Summer  11/7/2013     7/2013
22838  2013   7  12    6.2   56391  Summer  12/7/2013     7/2013
22839  2013   7  13    7.7   56391  Summer  13/7/2013     7/2013
22840  2013   7  14    0.0   56391  Summer  14/7/2013     7/2013
22841  2013   7  15    0.0   56391  Summer  15/7/2013     7/2013
22842  2013   7  16    0.7   56391  Summer  16/7/2013     7/2013
22843  2013   7  17    0.0   56391  Summer  17/7/2013     7/2013
22844  2013   7  18   45.1   56391  Summer  18/7/2013     7/2013
22845  2013   7  19    2.7   56391  Summer  19/7/2013     7/2013
22846  2013   7  20    0.0   56391  Summer  20/7/2013     7/2013
22847  2013   7  21    0.5   56391  Summer  21/7/2013     7/2013
22848  2013   7  22    1.6   56391  Summer  22/7/2013     7/2013
22849  2013   7  23    0.0   56391  Summer  23/7/2013     7/2013
22850  2013   7  24    0.0   56391  Summer  24/7/2013     7/2013
22851  2013   7  25   11.3   56391  Summer  25/7/2013     7/2013
22852  2013   7  26    0.0   56391  Summer  26/7/2013     7/2013
22853  2013   7  27   12.7   56391  Summer  27/7/2013     7/2013
22854  2013   7  28   32.6   56391  Summer  28/7/2013     7/2013
22855  2013   7  29   77.5   56391  Summer  29/7/2013     7/2013
22856  2013   7  30    0.0   56391  Summer  30/7/2013     7/2013
22857  2013   7  31    0.0   56391  Summer  31/7/2013     7/2013

In [40]:
nine_july_2013 = the_data.loc[the_data.Date == '9/7/2013']

In [42]:
nine_july_2013.nlargest(15, 'Pinmm')

       YYYY  MM  DD  Pinmm Station  Season      Date Month_Year
22835  2013   7   9  423.8   56188  Summer  9/7/2013     7/2013
22835  2013   7   9  189.3   56285  Summer  9/7/2013     7/2013
22835  2013   7   9  145.6   56181  Summer  9/7/2013     7/2013
22835  2013   7   9  123.8   56373  Summer  9/7/2013     7/2013
22835  2013   7   9  123.4   56280  Summer  9/7/2013     7/2013
22835  2013   7   9  122.7   56187  Summer  9/7/2013     7/2013
22835  2013   7   9  117.2   56380  Summer  9/7/2013     7/2013
22835  2013   7   9  115.2   56197  Summer  9/7/2013     7/2013
22835  2013   7   9  109.5   56189  Summer  9/7/2013     7/2013
22835  2013   7   9  106.1   56281  Summer  9/7/2013     7/2013
22835  2013   7   9  105.9   56272  Summer  9/7/2013     7/2013
22835  2013   7   9  105.9   56383  Summer  9/7/2013     7/2013
22835  2013   7   9   88.0   56193  Summer  9/7/2013     7/2013
22835  2013   7   9   86.2   56382  Summer  9/7/2013     7/2013
22835  2013   7   9   85.7   56287  Summer  9/7/2013     7/2013

In [43]:
nine_july_2013 = the_data['Date'] == '9/7/2013'
mean_for_nine_july_2013 = the_data.loc[nine_july_2013, 'Pinmm'].mean()
mean_for_nine_july_2013

23.299358974358956

In [47]:
Around_56188 = the_data.loc[((the_data['Month_Year'] == '7/2013') & (the_data['Station'] == '56188'))]
Around_56188

       YYYY  MM  DD  Pinmm Station  Season       Date Month_Year
22827  2013   7   1    0.0   56188  Summer   1/7/2013     7/2013
22828  2013   7   2    3.9   56188  Summer   2/7/2013     7/2013
22829  2013   7   3    5.6   56188  Summer   3/7/2013     7/2013
22830  2013   7   4   49.8   56188  Summer   4/7/2013     7/2013
22831  2013   7   5    0.1   56188  Summer   5/7/2013     7/2013
22832  2013   7   6    0.1   56188  Summer   6/7/2013     7/2013
22833  2013   7   7    3.2   56188  Summer   7/7/2013     7/2013
22834  2013   7   8   18.0   56188  Summer   8/7/2013     7/2013
22835  2013   7   9  423.8   56188  Summer   9/7/2013     7/2013
22836  2013   7  10  199.3   56188  Summer  10/7/2013     7/2013
22837  2013   7  11   71.8   56188  Summer  11/7/2013     7/2013
22838  2013   7  12   35.9   56188  Summer  12/7/2013     7/2013
22839  2013   7  13    3.6   56188  Summer  13/7/2013     7/2013
22840  2013   7  14    0.1   56188  Summer  14/7/2013     7/2013
22841  2013   7  15    9.4   56188  Summer  15/7/2013     7/2013
22842  2013   7  16    7.2   56188  Summer  16/7/2013     7/2013
22843  2013   7  17    0.0   56188  Summer  17/7/2013     7/2013
22844  2013   7  18    0.0   56188  Summer  18/7/2013     7/2013
22845  2013   7  19    0.0   56188  Summer  19/7/2013     7/2013
22846  2013   7  20    0.0   56188  Summer  20/7/2013     7/2013
22847  2013   7  21    1.1   56188  Summer  21/7/2013     7/2013
22848  2013   7  22    6.6   56188  Summer  22/7/2013     7/2013
22849  2013   7  23    0.0   56188  Summer  23/7/2013     7/2013
22850  2013   7  24    0.0   56188  Summer  24/7/2013     7/2013
22851  2013   7  25   85.0   56188  Summer  25/7/2013     7/2013
22852  2013   7  26   11.9   56188  Summer  26/7/2013     7/2013
22853  2013   7  27   59.2   56188  Summer  27/7/2013     7/2013
22854  2013   7  28   36.9   56188  Summer  28/7/2013     7/2013
22855  2013   7  29   39.1   56188  Summer  29/7/2013     7/2013
22856  2013   7  30    0.0   56188  Summer  30/7/2013     7/2013
22857  2013   7  31    0.0   56188  Summer  31/7/2013     7/2013